/* Write your CSS code here */

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeading {
  font-family: roboto;
}

.loginButton {
  font-family: roboto;
  cursor: pointer;
}
